<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>sereneCode.io</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="Rogério B. Huss">

  <!-- styles -->
  <script src="https://use.fontawesome.com/85ab17377c.js"></script>
  <script src="{{ "/js/vendor/snap.svg-min.js" | relative_url }}"></script>
  <link rel="stylesheet" href="{{ "/styles/font-mfizz/font-mfizz.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/styles/css/bulma.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/styles/custom.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Kaushan+Script|Nunito:200|Pontano+Sans|Quicksand|Roboto|Roboto+Condensed"
    rel="stylesheet">

  <link rel="icon" type="image/png" href="{{ "/favs/favicon-32x32.png" | relative_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "/favs/favicon-16x16.png" | relative_url }}" sizes="16x16" />
</head>