---
layout: default
---

<div class="post-page-holder">
    <div class="page-content">
        <h2 class="page-title">{{ page.title }}</h2>
        {% include share.html %}

        <!-- Generator: Gravit.io -->
        <svg id="svgToShowMe" viewBox="0 0 350 365" width="350" height="365">
            <defs>
                <mask id="mask-me">
                    <rect x="0" y="0" width="69.17" height="365" transform="matrix(1,0,0,1,0,0)"
                        fill="rgb(255,255,255)" />
                    <rect x="70.208" y="0" width="69.17" height="345" transform="matrix(1,0,0,1,0,0)"
                        fill="rgb(255,255,255)" />
                    <rect x="140.415" y="-0.125" width="69.17" height="357.125" transform="matrix(1,0,0,1,0,0)"
                        fill="rgb(255,255,255)" />
                    <rect x="210.623" y="0" width="69.17" height="319" transform="matrix(1,0,0,1,0,0)"
                        fill="rgb(255,255,255)" />
                    <rect x="280.83" y="0" width="69.17" height="349" transform="matrix(1,0,0,1,0,0)"
                        fill="rgb(255,255,255)" />
                </mask>
            </defs>
            <image mask="url(#mask-me)" width="350" height="365" xlink:href="../img/me.jpg" />
        </svg>

        {{ content }}
    </div>
</div>