---
layout: default
---

<div class="post-page-holder">
    <div class="page-content">
        <h2 class="page-title">{{ page.title }}</h2>
        {% include share.html %}

        <div class="about-static-content">

            <!-- Generator: Gravit.io -->
            <svg id="svgToShowMe" viewBox="0 0 350 365" width="350" height="365">
                <g clip-path="url(#_clipPath_lEt3AzhwCDBAg30KoQAI8R3NPci6pA0B)">
                    <defs>
                        <filter id="OZFqbrjbdMuluALDjpVNR1M6uSHSnCCt" x="-200%" y="-200%" width="400%" height="400%">
                            <feOffset xmlns="http://www.w3.org/2000/svg" in="SourceAlpha" result="offOut" dx="0"
                                dy="0" />
                            <feGaussianBlur xmlns="http://www.w3.org/2000/svg" in="offOut" result="blurOut"
                                stdDeviation="5" />
                            <feComponentTransfer xmlns="http://www.w3.org/2000/svg" in="blurOut" result="opacOut">
                                <feFuncA xmlns="http://www.w3.org/2000/svg" type="table" tableValues="0 0.5" />
                            </feComponentTransfer>
                            <feBlend xmlns="http://www.w3.org/2000/svg" in="SourceGraphic" in2="opacOut"
                                mode="normal" />
                        </filter>
                    </defs>
                    <g filter="url(#OZFqbrjbdMuluALDjpVNR1M6uSHSnCCt)">
                        <path
                            d=" M 9.25 182.5 C 9.25 91.02 83.52 16.75 175 16.75 C 266.48 16.75 340.75 91.02 340.75 182.5 C 340.75 273.98 266.48 348.25 175 348.25 C 83.52 348.25 9.25 273.98 9.25 182.5 Z "
                            fill="rgb(255,255,255)" />
                    </g>
                    <defs>
                        <mask id="mask-me">
                            <path
                                d=" M 9.25 182.5 C 9.25 91.02 83.52 16.75 175 16.75 C 266.48 16.75 340.75 91.02 340.75 182.5 C 340.75 273.98 266.48 348.25 175 348.25 C 83.52 348.25 9.25 273.98 9.25 182.5 Z "
                                fill="rgb(235,235,235)" />
                        </mask>
                    </defs>
                    <image mask="url(#mask-me)" width="350" height="365" xlink:href="../img/me.jpg" />
                    <path
                        d=" M 9.25 182.5 C 9.25 91.02 83.52 16.75 175 16.75 C 266.48 16.75 340.75 91.02 340.75 182.5 C 340.75 273.98 266.48 348.25 175 348.25 C 83.52 348.25 9.25 273.98 9.25 182.5 Z "
                        fill="none" vector-effect="non-scaling-stroke" stroke-width="8" stroke="rgb(255,186,52)"
                        stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="3" />
                </g>
            </svg>

            <div class="hold-static-intro-about">
                <h2>
                    Hi there!
                </h2>

                <h4>
                    My name is Roger. I'm a web designer and a frontEnd web developer from Brazil.
                </h4>
            </div>

        </div>

        {{ content }}
    </div>
</div>