---
layout: default
---

<div class="home">

  <span class="slogan-home">
    <span>web design</span> & frontEnd dev experiments
  </span>

  <div style="padding: 15px;">
    {{ content }}
  </div>

  {% if site.categories[page.category] == null %}
  <div class="text-center">
    <h4 class="no-posts-msg">
      <span style="border-radius:8px;display: inline-block; transform: rotate(-5deg) translateX(-35px);">
          <i class="fas fa-meh"></i> Oops! No <span style="background-color: #ffed99; border-radius: 8px; color: #555;">{{page.title}}</span> content here yet...
      </span>
    </h4>
    <h3 class="no-posts-msg" style="margin-bottom: 15px; margin-top: 0;">
      <span style="border-bottom-right-radius:8px;border-bottom-left-radius:8px;display: inline-block; transform: rotate(-5deg) translateX(75px);">
          But get back soon! <i class="fas fa-grin-wink"></i>
      </span>
    </h3>
  </div>
  {% else %}
  <ul class="d-flex flex-wrap post-list" style="flex-direction: row; flex:initial;">
    {% for post in site.categories[page.category] %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">

        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>

        <h2>{{ post.title | escape }}</h2>

        <p class="post-resume">
          {{ post.content | strip_html | truncatewords: 15 }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</div>