---
layout: default
---

{% if site.categories[page.category] == null %}
  {% assign no_posts_class = 'no-posts-here' %}
{% endif %}

<div class="home {{ no_posts_class }}">

  <!-- <span class="slogan-home">
    <span>web design</span> & frontEnd dev experiments
  </span> -->

  <div class="hold-slogan">
    <span class="slogan-home">
      <span><span>web design, ux</span> and frontend dev</span>
    </span>
  </div>

  {% if content != "" %}
  <div style="padding: 15px;">
    {{ content }}
  </div>
  {% endif %}

  {% if site.categories[page.category] == null %}
  <div class="text-center no-posts-msg-holder py-3 mx-4 my-4">
    <h4 class="no-posts-msg">
      <span>
        <!--<i class="fas fa-meh d-none d-md-inline"></i>--> <span class="oops">Oops!</span><br class="d-sm-block d-md-none" /> No <span>{{page.title}}</span> content here yet...
      </span>
    </h4>
    <h3 class="no-posts-msg">
      <span>
        But get back soon! <i class="fas fa-grin-wink d-none d-md-inline"></i>
      </span>
    </h3>
  </div>
  {% else %}
  <ul class="d-flex flex-wrap post-list" style="flex-direction: row; flex:initial;">
    {% for post in site.categories[page.category] %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">

        <span class="post-meta">{{ post.date | date: "%d/%m/%Y" }}</span>

        <h2>{{ post.title | escape }}</h2>

        <p class="post-resume">
          {{ post.content | strip_html | truncatewords: 15 }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</div>