<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>
  <section class="hero is-fullheight">

    <div class="hero-body">

      <div class="container">

        <div class="columns">
          <div class=" column is-3">

            {% include header.html %} {% for page in site.pages %} {% if page.title %}
            <a class="navbar-item" href="{{ page.url }}">{{ page.title }}</a> {% endif %} {% endfor %}
          </div>
          <div class=" column is-9">
            {{ content }}
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}
  </section>
</body>

</html>